
body{
    background: #89C15E;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.reset-game{
    position: absolute;
    left: 10px;
    top: 20px;
    border: 1px solid red;
    z-index: 101;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    outline: none;
}

.header-button{
    width: 110px;
    height: 45px;
    position: absolute;
    padding: 5px ;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1em;
    background-color: rgb(4, 146, 35);
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 2px 2px white;
    border-radius: 10px;
    cursor: pointer;
    transition:  scale 0.5s ease;
    transition: background-color 0.1s ease-in-out;
}
.header-button:hover{
    color: white;
    background-color: rgb(255, 0, 0);
    scale: 105% ;
}

.main-container{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

.score-area{
    
    margin:5% auto;
    background:#89C15E;
    width: 50%;
    height: 150px;
    border: 3px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

    box-sizing: border-box;
}

.game-name{
    flex: 1;
    color: white;
    letter-spacing: 5px;

    margin: 1% 3%;
    padding: 5px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 0.1em;
    
}
.score-container{
    flex: 2;
    justify-content: flex-end;
    margin-right: 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* border: 1px solid red; */
    
}
.score{
    margin: 0 40px;
    width: 140px;
    height: 120px;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #656565;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    /* border: 1px solid red; */
    border-radius: 5px;
    box-sizing: border-box;
}
.user{
    margin-right: 20px; 
}
.score-no{
    display: flex;
    align-items: center;
    flex:2;
    /* border: 1px solid red; */
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: #252525;
    box-sizing: border-box;
}

.game-area{
    margin: auto  ;
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
}

.playground{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.triangle{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.triangle img{
    max-width: 100%;
   height: 100%;
   object-fit: contain;
}

.play-icons{
    position: absolute;
    width: 12%;
    height: 20%;
    background-color: white;
 
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-choice-btn{
    background-color: white;
    border-radius: 50%;
}
.button{
    outline: none;
    border: none;
    cursor: pointer;
}
.play-icons img{
    width: 100%;
    height: 100%;
}
.play-icons:hover{
    scale: 105%;
}
#rock{
    left: 27%;
    top: 10%; 
    border: 16px solid #0074B6;
}

#scissors{
    left: 57%;
    top: 10%;
    border: 16px solid #BD00FF;
}

#paper{
    left:  42%;
    top: 60%;
    border: 16px solid #FFA943;
}

.each-round-result{
    position: relative;
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.choice{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@keyframes border-animation {
    0% {
    }
    50% {
      border-color: transparent;
    }
    100% {
      
    }
  }
.level{
    border: 16px solid transparent;
    border-radius: 50%;
    animation: border-animation 1s infinite linear;
}

.icon{
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid;
    
}

.each-round-msg{
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.user-msg{
    font-weight: 800;
    font-size: 2rem;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.1em;
}
.play-again{
    margin-top: 1rem;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #6B6B6B;
    border: none;
    border-radius: 5px;
}

.rules-card{
    background-color: #004429;
    color: white;
    padding: 10px;
    width: 15%;
    height: 40%;
    position: fixed;
    left: 30px;
    bottom: 70px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    border: 7px solid #FFFFFF;
    border-radius: 13px;
}

.rules{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rules h3 {
    font-weight: 500;
font-size: 29px;
line-height: 34px;
}
.rules-list{
    list-style: none;
    
}
li { 
    margin: 10px 0;
    position: relative; 
    list-style: none; 
    display: inline-block; 
    margin-left: 30px;
    }
li:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: -20px;
    top: 5px;
    background: yellow;
}

.cross{
    width: 30px;
    height: 30px;
    position: absolute;
    left: -30px;
    top: -30px;
    border: 5px solid #FFFFFF;
    background-color:red ;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.footer-button{
    width: 120px;
    height: 40px;
    position: absolute;
    padding: 5px 10px;
    bottom: 20px;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.1em;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 2px 2px white;
    border-radius: 10px;
    cursor: pointer;
    
}

#rules-button{
    left: 20px;
}
#next{
    right: 20px;
}

.hurray-container{
    width: 100%;
    height: 100%;
    color: white;
}
.hurray{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.decoration{
    position:relative;
    /* border: 1px solid red; */
    width: 30%;
    height: 45%;
    padding: 10px;
}
.decoration div{
    position:absolute;
}
.decoration img{
    width: 100%;
    height: 100%;
}

#cup{
    width:200px;
    top: 25%;
    left: 25%;
}
.star-type1{
    width: 7%;
}
.star-type2{
    width: 15%;
}
.star-type3{
    width: 20%;
}
.star-type4{
    width: 25%;
}


@keyframes twinkleanimation {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }
}
.twinkle {
    animation: twinkleanimation 1s infinite linear;
}


.hurray-msg{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
}

#msg1{
    font-size: 91px;
    line-height: 107px;
}
#msg2{
    font-size: 41px;
    line-height: 48px;
}

#hurray-play-again{
    margin-top: 80px;
    width: 174px;
    height: 44px;
    color: rgb(14, 125, 6);
    
    transition:  scale 0.5s ease;
    transition: background-color 0.5s ease;
}

#hurray-play-again:hover{
    color: white;
    background-color: rgb(1, 79, 5);
    box-shadow: 1px 2px rgb(0, 0, 0);
}

.button:hover{
    transform: scale(1.05);
}
.inactive{
    display: none;
}